<nav class="clearfix">
    <div class="logo l"></div>
    <div class="login-wrapper r">
        <a href="https://passport.baidu.com/v2/?reg&tpl=holmes_maa&u=https://mtj.baidu.com/web/welcome/psp">注册</a>
        <button>登录</button>
    </div>
    <ul class="link-list r">
        <li>
            <a routerLink="welcome" routerLinkActive="">移动统计</a>
        </li>
        <li>
            <a routerLink="game" routerLinkActive="">游戏统计</a>
        </li>
        <li>
            <a href="https://tongji.baidu.com/data/mobile/brand">流量研究院</a>
        </li>
        <li>
            <a href="https://mtj.baidu.com/static/userguide/whitepaper.pdf">白皮书</a>
        </li>
        <li>
            <a routerLink="sdk" routerLinkActive="">SDK下载</a>
        </li>
        <li>
            <a routerLink="app-download" routerLinkActive="">移动客户端</a>
        </li>
        <li>
            <a routerLink="help" routerLinkActive="">服务中心</a>
        </li>
    </ul>
</nav>
