/* color */
$std-blue: #396fff;
$std-light-blue: #36a4f7;
$std-black: #333437;
$std-dark: #555966;
$std-gray: #808492;
$std-light-gray: #b0b8bf;
$std-blackBG: #1d2438;
$std-red: #f34b60;
$std-orange: #ff8e5b;
$std-green: #02b449;
$std-grape: #884ffc;
